@use './abstractions' as *;
@use './breakpoints' as media;

.app {
  display: flex;
  flex-direction: column;
}

.primary-header {
  padding-block: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrapper {
  width: clamp(8rem, 5vw, 12rem);
}

.header__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__button:hover {
  color: $clr-black;
}

.divider {
  border: 1px solid $clr-gray-1;
  margin: 0;

  @include media.large-above {
    margin-inline: var(--inline-spacing);
  }
}

.main {
  flex-grow: 1;
  display: grid;
}

.card {
  cursor: pointer;
  position: relative;
  transition: transform 300ms ease;
}

.card:hover {
  transform: scale(1.025);
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background-image: linear-gradient(
    to top,
    rgba(black, 0.7) 10%,
    rgba(black, 0.4) 25%,
    transparent 100%
  );

  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 0.5rem;
}

.card__inner-wrapper:hover {
  background-image: linear-gradient(
    to top,
    rgba(hsl(0, 0%, 10%), 0.7) 10%,
    rgba(hsl(0, 0%, 30%), 0.4) 25%,
    rgba(white, 70%) 100%
  );
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  padding-top: 6rem;
}

.content__image-section {
  display: flex;
}

.image-section__inner {
  width: 70%;
  position: relative;
  height: fit-content;
}

.content__hero-image-wrapper {
  flex: 2.5;
  min-width: 20rem;
  height: 35rem;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.content__hero-image-wrapper > button {
  position: absolute;
  inset: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content__artist-image {
  position: absolute;
  width: fit-content;
  bottom: 0;
  right: 0;
  transform: translateX(calc(100% + 30px)) translateY(50%);
}

.content__heading-cont {
  background: linear-gradient(to right, white 50%, transparent);
  position: absolute;
  top: 0;
  right: 0;
  width: 24rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
  transform: translateX(80%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content__text-section {
  padding-left: 6rem;
}

.content__text-section > .big-text {
  color: $clr-gray-1;
  z-index: 10;
}

.content__text-section > .description-text {
  display: inline-block;
  width: 85%;
  transform: translateY(-2.5rem);
}

.slider-nav {
  display: flex;
  gap: 2.5rem;
  width: fit-content;
  height: fit-content;
}

.slideshow-container {
  display: grid;
  grid-template-rows: 1fr min-content;
}

.slideshow-container > footer {
}

.footer__content {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-indicator-body {
  background-color: $clr-gray-1;
  height: 2px;
  top: 0;
}

.progress-indicator-fill {
  background-color: $clr-black;
  height: 100%;
}

.dialog {
  border: none;
  padding: 0;
  width: fit-content;
  height: min(fit-content, 60vh);
  position: relative;
  overflow: visible;
}

.dialog::backdrop {
  background-color: rgba(black, 0.88);
}

.dialog > img {
  height: 100%;
  object-fit: contain;
}

.dialog > button {
  cursor: pointer;
  color: $clr-white;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-200%);
  z-index: 1000;
}
